html {-webkit-text-size-adjust:none; min-height:100%; overflow-x: hidden;}
body {padding: 0; margin:0; font-family: "Roboto Light", sans-serif; min-height:100%;}
.main-layout {
    min-height: 100vh;
}

#loader {
    display:    none;
    position:   fixed;
    z-index:    10000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    backdrop-filter: blur(2px);
    background: url('/include/actions_icons/spinner.gif') 50% 50%
    no-repeat;
}

body.loading #loader {
    overflow: hidden;
}

body.loading #loader {
    display: block;
}

#kanban {
    min-height: 100vh;
}

#header {
    background: -webkit-linear-gradient(45deg, #2BFFF7, #6DAFFF);
    background: linear-gradient(45deg, #2BFFF7, #6DAFFF);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/*#logo {*/
/*    -webkit-filter: drop-shadow(1px 1px 0 black)*/
/*    drop-shadow(1px 1px 0 black);*/
/*}*/

/*#avatar {*/
/*    box-shadow: 1px 1px 5px 1px black;*/
/*}*/

/*#timer-block {*/
/*    -webkit-filter: drop-shadow(0px 0px 0 black)*/
/*    drop-shadow(1px 1px 0 black);*/
/*}*/

tr {
    font-size: 14px;
}

.card-body > a, .order-products > a, .card-body > span {
    font-size: 13px;
}

.card-body > h6 {
    font-size: 14px;
}
.card-body > h5 {
    font-size: 16px;
}

.card:hover {
    background-color: lightblue;
}